* {
	box-sizing:initial;
}
body{
	background-color: #f5f5f5;
}
.page-container {
	width:960px;
	margin:30px auto;
	border-radius:10px;
	border:1px solid #eee;
	background-color: #fff;
}
.layui-elem-field {
	border-radius:10px;
}
.layui-nav{
	border-radius: 0;
	text-align: center;
}
.layui-tab-content {
	padding: 0 30px 30px;
}
.layui-form-item {
	padding:15px;
	margin-bottom:0;
}
.layui-form-item.arrange{
	background-color: #f1f1f1;
}
.layui-form-item.arrange:nth-child(2n+1){
	background-color: #f5f5f5;
}
.layui-form-item .layui-input-inline.w420,.layui-form-item .layui-input-block.w420 {
	width:420px;
}
.layui-form-pane .layui-form-label,.layui-form-label {
	width:130px;
}
.layui-input-block {
	margin-left:160px;
}
input[readonly],input[readonly]:hover {
	background:none;
	border:1px solid #eee;
	cursor:pointer;
	color:#333;
}
.layui-input.center {
	padding:0;
	text-align:center;
}
.slider {
	padding:18px 0 15px 10px;
}
.slider .layui-slider-input {
	margin-top:18px;
}
.tzt-header {
	padding:15px 30px;
	background-color:#006fff;
	border-radius:10px 10px 0 0;
	color:#fff;
}
.arrange:hover{
	cursor: move !important;
}
span.arrange,label.arrange{
	display: inline-block;
}
table{
	box-shadow: none;
}
table > tbody > tr:nth-of-type(odd){
	background: none;
}
.layui-form-item.arrange .layui-form-select{
	background-color: #fff;
}
.arrange input::selection {
	background:none;
}
.layui-slider-input-txt .layui-input{
	padding-left: 0;
}
.layui-carousel img{
	max-width: 100%;
}